/*¡Contáctanos ahora y descubre cómo podemos hacer de tu celebración un éxito garantizado!"*/
*{
    margin: 0;
    padding: 0;
}
@font-face {
    font-family: shantell;
    src: url(fonts/ShantellSans-Italic-VariableFont_BNCE\,INFM\,SPAC\,wght.ttf);
}
html{
    font-family: shantell;
}
/*
.imagen{
    background: url(Imagen1.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
}
*/
header{
    color: #e558a5;
    display: flex;
    padding: 15px;
    text-align: center;
    font-size: 15px;
    border-bottom: 2px solid pink;
}
header h1{
    padding-left: 3vw;
}
header ul{
    display: flex;
    flex-direction: row;
    margin-left:15vw ;
    
}
header ul li{
    list-style: none;
    margin: 10px;
}
header ul li a{
    text-decoration: none;
    color:#040404 ;
    font-size: 25px;
    transition: all 0.2s;
    margin: 5px;
    -webkit-transition: all 0.2s;
    -moz-transition: all 0.2s;
    -ms-transition: all 0.2s;
    -o-transition: all 0.2s;
}
header ul li a:hover{
    border-bottom: 1px solid white;
}
.definition{
    background-color: #5d575b73;
    height: 70vh;
    background: url(Images/Imagen1.jpg);
    background-repeat: no-repeat;
    background-position: right;
    background-attachment: fixed;
}
.definition h3{
    padding-top: 50px;
    padding-left: 50px;
    padding-bottom: 30px;
    font-size: 30px;
    width: 40vw;
    color: #a74c43;

}
.definition p{
    padding-top: 15px;
    width: 40vw;
    padding-left: 50px;
    font-size: 20px;
}
.Tercerparrafo{
    color: #a74c43;
    font-size: 20px;

}
.definition{
    border-bottom: 2px solid pink;
}
.precios_contact{
    background-color: #ffc9c9;
    display: flex;
    height: 50vh;
    border-radius: 20px;
    margin-left: 20vw;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    -ms-border-radius: 20px;
    -o-border-radius: 20px;
    margin-top: 3vw;
}
.precios{
    width: 50vw;

}
.imagen img{
    width: 50vw;
    height: 50vh;
    
}
.precios{
    margin-left: 5vw;

}

.precios__titulo{
    font-size: 25px;
    padding: 10px;
    text-align: center;
}
.precios ul p{
    margin: 15px;
    font-size: 20px;
}
.container{
    background-color: #a07878;
    display: flex;
    width: 50vw;
    margin-top: 3vh;
    padding: 10vh;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
}
.contact{
    margin-left: 15vw;
    margin-top: 30px;
}
.contact a{
    color: white;
    text-decoration: none;
    font-size: 25px;
    background-color: #ffc9c9;
    padding: 15px;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
    transition: all 0.5s;
    -webkit-transition: all 0.5s;
    -moz-transition: all 0.5s;
    -ms-transition: all 0.5s;
    -o-transition: all 0.5s;
}
.contact a:hover{
    border-radius: 20px;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    -ms-border-radius: 20px;
    -o-border-radius: 20px;
    background-color:#bba2a2 ;
}
.pago p{
    font-size: 30px;    
}
.pago ul{
    margin-top: 15px;
}
.entrega{
    margin-top: 3vh;
    font-size: 25px;
    background-color: #a07878;
    margin-right: 40vw;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
    text-align: justify;
    padding: 15px;
}
.entrega__titulo{
    color: #323232;
    font-size: 40px;
}
.imagen2{
    background: url(Images/Imagen3.jpeg);
    background-position: right;
    background-repeat: no-repeat;
    background-attachment: local;
    background-size: contain;
    backface-visibility: visible;
    -webkit-backface-visibility: visible;
}
.ejemplos__imagenes__titulo{
    margin-top: 3vh;
    padding-left: 50px;
    font-size: 25px;
    background-color: #bba2a2;
    text-align: center;
    font-size: 30px;
}
.ejemplos__imageness{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    margin: 50% auto;
}
.ejemplos__imagenes img{
    justify-content: center;
    width: 300px;
    height: 300px;
    margin: 5px;
    border: 2px solid pink;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
}
